.jumbotron {
  background: #0065BD;
  color: white;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.hidden {
  opacity: 0;
}

div.img-thumbnail {
  min-width: 175px;
  height: 175px;
  background-position: center;
  background-size: cover;
}

form:invalid button[type="submit"] {
  pointer-events: none;
  opacity: 0.5;
} 

.avatar {
  border-radius: 50%;
  height: 52px;
  width: 52px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid lightgrey;
  background: #e9ecef;
}