.jumbotron {
  background: #0065BD;
  color: white;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.hidden {
  opacity: 0;
}

div.img-thumbnail {
  min-width: 175px;
  height: 175px;
  background-position: center;
  background-size: cover;
}

form:invalid button[type="submit"] {
  pointer-events: none;
  opacity: 0.5;
} 