<!DOCTYPE html>
<html>

<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/nav.ejs %>

    <div class="container mt-3">

      <% if(orders.length > 0) { %>

        <% for(order of orders) { %>
          <div>
            <%= order._id %>
          </div>
        <% } %>

      <% } else { %>
        <div class="m-auto text-center text-muted">
          <p>No orders yet.</p>
        </div>
      <% } %>
    </div>
</body>

</html>