<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/nav.ejs %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1><%= title %></h1>
      <h2><%= subtitle %></h2>
      <p><%= description %></p>
    </div>
  </div>
  <div class="container">
    <ul>
      <li>
        <a href="/prove/week01">Week 01</a>
      </li>
      <li>
        <a href="/prove/week02">Week 02</a>
      </li>
    </ul>
  </div>
</body>
</html>