<!DOCTYPE html>
<html>
<head>
  <% include ../../../includes/header.ejs %>
</head>

<body>
  <% include ../../../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
  </div>
</div>
<div class="container">
  <h1>Hello week 02</h1>
</div>


</body>
</html>