<!DOCTYPE html>
<html>

<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/nav.ejs %>
    <div class="container w-25 mt-5">
      <h1><%= title %></h1>
      <p>
        If you want to add a user here go to
        <a href="/prove/week01">Week 01</a> page
      </p>
      <ul class="list-group">
        <% for(var i=0; i < users.length; i++) { %>
          <li class="list-group-item">
            <%= users[i] %>
          </li>
        <% } %>
      </ul>
    </div>

</body>

</html>